body {
    background-color: #a29e9e !important;
}

.naranja {
    background-color: hsla(8, 100%, 52%, 0.74);
}

.celeste {
    background-color: hsla(213, 100%, 52%, 0.74);
}

.verde {
    background-color: hsla(80, 85%, 44%, 0.94)
}

.amarillo {
    background-color: hsla(42, 92%, 50%, 0.94);
}

.container-car {
    width: 80%;
    margin: 0 auto;
}

.dropup {
    position: relative;
    display: inline-block;
}

.img {
    margin-top: 12px;
}

.dropup {
    position: relative;
    display: inline-block;
}

.img {
    margin-top: 12px;
}

.cnt-block {
    float: left;
    width: 10%;
    background: #fff;
    padding: 24px 14px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    height: 224px;
}

.cnt-block figure {
    width: 100%;
    height: 106px;
    border-radius: 100%;
    display: inline-block;
}

.cnt-block h3 {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    padding: 1px 12px;
    text-transform: uppercase;
}

@media (min-width: 481px) and (max-width: 587px) {
    .cnt-block {
        width: 33% !important;
    }
}

@media (min-width: 588px) and (max-width: 720px) {

    .cnt-block {
        width: 31% !important;
    }
}

@media (min-width: 721px) and (max-width: 820px) {
    .cnt-block {
        width: 20% !important;
    }
}

@media (min-width: 821px) and (max-width: 920px) {
    .cnt-block {
        width: 20% !important;
    }
}

@media (min-width: 921px) and (max-width: 1030px) {
    .cnt-block {
        width: 18% !important;
    }
}

@media (min-width: 1031px) and (max-width: 1220px) {
    .cnt-block {
        width: 14% !important;
    }
}

@media (min-width: 1221px) and (max-width: 1380px) {
    .cnt-block {
        width: 12% !important;
    }
}